In [2]:
from collections import Counter
import pandas as pd

In [164]:
df = pd.read_csv('buscas.csv') #dataframe lido

df.head()

   home       busca  logado  comprou
0     0  algoritmos       1        1
1     0        java       0        1
2     1  algoritmos       0        1
3     1        ruby       1        0
4     1        ruby       0        1

In [165]:
x_df = df[['home', 'busca', 'logado']] #separou as colunas
y_df = df['comprou']

In [166]:
xdummies_df = pd.get_dummies(x_df) #processou os dummies por causa da STR
ydummies_df = y_df

In [170]:
X = xdummies_df.values #transformou em array para o machine learning
Y = ydummies_df.values

In [168]:
porcentagem_treino = 0.9 # sistema de treino

tamanho_de_treino = porcentagem_treino * len(Y)
tamanho_de_teste = len(Y) - tamanho_de_treino

treino_dados = X[:int(tamanho_de_treino)]
treino_marcacoes = Y[:int(tamanho_de_treino)]

teste_dados = X[int(-tamanho_de_teste):]
teste_marcacoes = Y[int(-tamanho_de_teste):]

In [173]:
#codigo para calculo do algoritimo classificação naive_bayes.
#teste e validação dos dados.

from sklearn.naive_bayes import MultinomialNB 
modelo = MultinomialNB()
modelo.fit(treino_dados, treino_marcacoes)


resultado = modelo.predict(teste_dados)
diferencas = resultado - teste_marcacoes

acertos = [d for d in diferencas if d == 0]
total_de_acertos =  len(acertos)
total_de_elementos = len(teste_dados)
taxa_de_acerto = 100 * total_de_acertos/total_de_elementos

print(f'Taxa de acerto do algoritimo foi de {taxa_de_acerto},com {total_de_elementos}')

Taxa de acerto do algoritimo foi de 82.0,com 100

In [174]:
# a eficácia do algoritmo que chuta tudo 0 ou 1
acerto_base = max(Counter(teste_marcacoes).values())
# acerto_de_um = len(Y[Y==1])
# acerto_de_zero = len(Y[Y==0])
taxa_de_acerto_base = 100 * acerto_base / len(teste_marcacoes)
print(f'Taxa de acerto base: {taxa_de_acerto_base}')

Taxa de acerto base: 82.0