In [29]:
import pandas as pd

In [30]:
uri = 'https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv'
dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [31]:
mapa = {
    'home' : 'principal', 'how_it_works' : 'como_funciona', 'contact' : 'contato', 'bought' : 'comprou'
       
}
dados = dados.rename(columns = mapa)
dados.head()

   principal  como_funciona  contato  comprou
0          1              1        0        0
1          1              1        0        0
2          1              1        0        0
3          1              1        0        0
4          1              1        0        0

In [32]:
x = dados[['principal', 'como_funciona', 'contato']]
x.head()

   principal  como_funciona  contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0

In [33]:
y = dados['comprou']
y.head()

0    0
1    0
2    0
3    0
4    0
Name: comprou, dtype: int64

In [35]:
dados.shape

(99, 4)

In [44]:
treino_x = x[:75]
treino_y = y[:75]
teste_x = x[75:]
teste_y = y[75:]

print('Treinaremos com {} elementos e testaremos com {}'.format(len(treino_x), (len(teste_x))))

Treinaremos com 75 elementos e testaremos com 24

In [57]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y,previsoes)
print('A acurácia foi de {:.2f}%'.format(acuracia*100))

A acurácia foi de 95.83%

# Usando a biblioteca para separar treino e teste

In [73]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20

In [81]:
treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, random_state = SEED, test_size = 0.25)
print('Treinaremos com {} elementos e testaremos com {}'.format(len(treino_x), (len(teste_x))))

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y,previsoes)
print('A acurácia foi de {:.2f}%'.format(acuracia*100))

Treinaremos com 74 elementos e testaremos com 25
A acurácia foi de 96.00%

In [84]:
treino_y.value_counts()

0    47
1    27
Name: comprou, dtype: int64

In [85]:
teste_y.value_counts()

0    19
1     6
Name: comprou, dtype: int64

In [87]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, 
                                                        random_state = SEED, test_size = 0.25,
                                                        stratify = y)
print('Treinaremos com {} elementos e testaremos com {}'.format(len(treino_x), (len(teste_x))))

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y,previsoes)
print('A acurácia foi de {:.2f}%'.format(acuracia*100))

Treinaremos com 74 elementos e testaremos com 25
A acurácia foi de 96.00%

In [88]:
treino_y.value_counts()

0    49
1    25
Name: comprou, dtype: int64

In [89]:
teste_y.value_counts()

0    17
1     8
Name: comprou, dtype: int64